body{
    background-image: url(../img/bg_logo.png);
}
.gallery-type{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.gallery-type-bg{
    position: relative;
    background-color: rgba(51,51,51, .4);
    height: 100%;
    display: flex;
    flex-direction: column;
}
.gallery-type-link{
    font-size: 2em;
    text-transform: uppercase;
    vertical-align: text-top;
    padding: 15px;
    font-weight: bold;
    transition: all 0.2s 0.2s ease;
}
.gallery-type-link:hover{
    color: #D60D13;
}
.latest_news_content a h3:hover{
    transition: all 0.2s 0.2s ease;
    color: #D60D13;
}
.searchBtn{
    background-color: transparent;
    border: 1px solid;
    background: url(../img/search.png) no-repeat center;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 15px;
    cursor: pointer;
}
.shareIcons{
    border: 1px solid #E5E5E5;
    padding: 15px;
}
.shareIcons .shareIconsBtn{
    margin-top: 5px;
}
.shareIcons .shareIconsBtn a{
    margin: 0 5px;
}
.shareIcons .shareIconsBtn a:hover path{
    fill: #D60D13;
    transition: all 0.2s 0.2s ease;
}